@model List<RestaurantManagement.Domain.AppEntities.OSHeader>
<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">Header Araçları</h3>
                </div>
            </div>
            <div class="card-body">
                <!--begin::Accordion-->
                <div class="accordion accordion-solid accordion-toggle-plus" id="accordionExample6">
                    <div class="card">
                        <div class="card-header" id="headingOne6">
                            <div class="card-title" data-toggle="collapse" data-target="#collapseOne6">
                                <i class="flaticon-pie-chart-1"></i>Product Inventory
                            </div>
                        </div>
                        <div id="collapseOne6" class="collapse show" data-parent="#accordionExample6">
                            <div class="card-body">
                                <!--Header&Header Action-->
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo6">
                            <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo6">
                                <i class="flaticon2-notification"></i>Order Statistics
                            </div>
                        </div>
                        <div id="collapseTwo6" class="collapse" data-parent="#accordionExample6">
                            <div class="card-body">
                                <!--Alert&Event&Log-->
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree6">
                            <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree6">
                                <i class="flaticon2-chart"></i>eCommerce Reports
                            </div>
                        </div>
                        <div id="collapseThree6" class="collapse" data-parent="#accordionExample6">
                            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
