@using Newtonsoft.Json
@model List<RestaurantManagement.Domain.Entities.Category>
@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/22.1.6/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/22.1.6/css/dx.light.css" />
    <style>
        .options {
            padding: 20px;
            background-color: rgba(191, 191, 191, 0.15);
            margin-top: 20px;
        }

        .option {
            margin-top: 10px;
        }

        .caption {
            font-size: 18px;
            font-weight: 500;
        }

        .option > span {
            margin-right: 10px;
        }

        .option > .dx-widget {
            display: inline-block;
            vertical-align: middle;
        }

    </style>
}
    <div class="d-flex flex-column-fluid">
        <div class="container">
            <div class="card card-custom">
                <div class="card-body">
                    <div id="chart"></div>
                    <div class="options">
                        <div class="caption">Ayarlar</div>
                        <div class="option">
                            <span>Grafik Tipi</span>
                            <div id="types"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section Scripts{
    <script src="https://cdn3.devexpress.com/jslib/22.1.6/js/dx.all.js"></script>
    <script>
        jQuery(document).ready(function () {
            DxChart.init("chart", "/Category/GetOrderRelatedInformation?filter=all");
        });

        var DxChart = function () {

            var getJsonData = function (chartId, actionUrl) {
                KTApp.block('.card', {
                    type: 'loader',
                    state: 'primary',
                    message: 'Lütfen Bekleyiniz...'
                });
                $.get(actionUrl, function (data, status) {
                    bind(JSON.parse(data), chartId);
                });

            };

            var bind = function (dataSource, chartId) {
                const chart = $('#' + chartId).dxChart({
                    dataSource,
                    export: {
                        enabled: true,
                    },
                    animation: {
                        duration: 1000,
                        easing: "linear",
                        enabled: true,
                        maxPointCountSupported: 300
                    },
                    series: {
                        name: 'Adet',
                        type: 'bar',
                        color: '#ffaa66',
                        barWidth: 30,
                    },
                    legend: {
                        visible: false,
                    },

                }).dxChart('instance');

                const types = ['bar', 'spline', 'line', 'area', 'stepline', 'stackedsplinearea', 'stackedspline', 'stackedline',];
                $('#types').dxSelectBox({
                    dataSource: types,
                    value: types[0],
                    onValueChanged(e) {
                        chart.option('series.type', e.value);
                    },
                });
                KTApp.unblock('.card');
            };

            return {
                // public functions
                init: function (chartId, actionUrl) {
                    getJsonData(chartId, actionUrl);
                },
            };
        }();

    </script>
}